<section>
	<h1>Welcome to TwilioTakeaway</h1>

	<p>What do you fancy to eat today <%= @client.name %> </p>

	<div class="restaurants">

		<% @restaurants.map do |restaurant| %>
			<div class="vendor"> 

				<h3> <%= restaurant.name  %> </h3>
				
				<p class="tel_num"> <%= restaurant.number %> </p>

				<button class="button">Show menu</button>
					
				<ul class="dishes">	

				<% restaurant.menu.map do |dish|  %>
					
					<li> <%= dish.name %> <span> <%= dish.price %> </span> </li>
				
				<% end %>

				</ul>

			</div>
		<% end  %>
	</div>
</section>
