<section class="menu">

	<p>What do you fancy to eat today <span><%= @client.name %></span> </p>

	<div class="restaurants">

		<% @restaurants.map do |restaurant| %>
			
			<div class="vendor"> 

				<h3> <%= restaurant.name  %> </h3>
				
				<p> <%= restaurant.number %> </p>

				<button class="button">Show menu</button>
					
				<form action="/menu" method="post" class="dishes">	

				<% restaurant.menu.map do |dish|  %>
					
					<input type="checkbox" name="<%="#{dish.name.downcase}"%>"> <span> <%= dish.name %>  <%= dish.price %>£</span>
					<input type="text"     name="quantity" placeholder="Quantity">
				
				<% end %>
				
				<button type="submit">Submit</button>

				</form>

			</div>
		<% end  %>
	</div>
</section>
